
<script type="text/javascript" src="scripts/Board.js"> </script>
<script type="text/javascript" src="scripts/AI.js"> </script>
<script type="text/javascript" src="scripts/Game.js"> </script>
<script type="text/javascript" src="resources/jquery-3.3.1.min.js"> </script>
<script type="text/javascript" src="resources/swipe.min.js"> </script>

<script>
init = function() {
    
    var game = Game();

    game.setAuto();

    game.start();
    
    // set up the main loop
    setInterval(update, 800 / 60);
    function update() {
        game.update();
    }

     document.getElementById("body").focus(); 
}
</script>

<body id="body" onload="init()">

<div id="container">

    <canvas id="canvas-game" width="768" height="512"></canvas>

    <a id="restartLink" href="/auto"> Restart </a>
    <a id="menuLink" href="/"> Menu </a>

    <span id="score-label"> Score: <span id="score-number">0</span></span>
    <span id="high-score-label"> HighScore: <span id="high-score-number">{{highscore}}</span></span>
    <label id="toggleGridLabel"><input type="checkbox" name="toggleGrid" id="toggleGrid"> Show Grid? </label>
</div>
</body>